<h1>Name: <%= @user_show.name %> </h1>
<p>Alias: <%= @user_show.alias %></p>
<p>Email: <%= @user_show.email %></p>


<p>Total Number of Posts: <%= @user_show.posts.count %></p>
<p>Total Number of Likes: <%= @user_show.likes.count %></p>