<p> <a href="/users/<%= @post_show.user.id %>"><%= @post_show.user.alias %></a> says: <%= @post_show.content %> </p>

<h4> People who liked this post: </h4>

<table>
	<thead>
		<tr>
			<td>Alias</td>
			<td>Name</td>
		</tr>
	</thead>
	<tbody>
	<% @liked_users.each do |u| %>
	<tr>
		<td><a href="/users/<%= u.id %>"><%= u.alias %></td></a>
		<td><%= u.name %></td>
	</tr>
	<% end %>
	</tbody>
</table>