<!DOCTYPE html>
<html>
<head>
  <title>RubyBelt2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if session[:user_id] %>
		<div id="userActions">
			<a href="/posts">Bright Ideas</a>
			<form action='/sessions' method='post'>
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type='hidden' name='_method' value='delete'>
			    <input type='submit' value='Log Out'>
			</form>
		</div>
	<% end %>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<%= e %>
	<% end %>
	<% end %>

<%= yield %>

</body>
</html>
